@font-face {
    font-family: "syht";
    src:url("font/syht-normal.otf"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "huiwen";
    src:url("font/huiwen.otf"); 
    font-weight: normal;
    font-style: normal;
}

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }




#middle.move{
            animation: movefromleft 1.5s;
            animation-fill-mode: forwards;
        }
#bottom.move,#left1.move {
            animation: movefromleft 2.6s;
            animation-fill-mode: forwards;
	    animation-delay: 0.5s;
        }
#right1.move,#right2.move,#right3.move {
            animation: movefromright 2.3s;
            animation-fill-mode: forwards;
        }
#fin1.move,#fin2.move,#fin3.move{
            animation: fadein 3.0s;
            animation-fill-mode: forwards;
        }                                         

 
@keyframes movefromleft {
            from {
                opacity: 0;
                transform: translateX(-100%);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
@keyframes movefromright {
            from {
                opacity: 0;
                transform: translateX(100%);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
@keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }


.bg1{   
	background-color:#ACABA0;
	background-image:url(img/leaf1.png),url(img/leaf2.png);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:left top,right bottom;
	background-size:30% 38%;
	z-index:-10;
}
.bg2{
	background-image:url(img/bg2.png);
	background-repeat:no-repeat;
	background-size:120%;
}


.bg3{   
	background-color:#E9E7DA;
	background-image:url(img/bg3.png);
	height:102vh;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	padding:20%;
}

.logo{  
	margin-top:2%;
	position:fixed;
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	box-shadow:0px 0px 5px #666;
	border-radius:25px;
	z-index:999;
}
.logo:hover{
	scale:1.09;
	cursor:pointer;
}

.list:hover .menu{
	display:block;
}

.menu{
	display:none;
	background:#F1F3ED;
	position:fixed;
	top:8%;
	left:52%;
	width:43%;
	border-radius:15px;
	box-shadow:10px 10px 5px #666;
	z-index:998;
}
a{
	text-decoration: none;
	color:#888373;
}
a:hover{
	text-decoration: none;
	color:#b5b1a9;
}
ol{
	padding:10%;
}
li{
	color:#C4B8A1;
	font-size:30px;
	padding:7%;
	text-align:center;
}

h1{
	margin-top:20%;
	color:#708090;
	font-size:65px;
	text-align:center;
	
	height:600px; 
	font-family:huiwen;
	line-height:1.5;
}
@media screen and (max-width: 576px) {
  h1 {
    margin-top:5%;
    font-size: 20px;
    font-family:huiwen;
    line-height:1.5;
  }
}

h2{
	color:#282819;
	font-size:52px;
	text-align:center; 
	font-family:syht;
	line-height:1.5;
}

.d0{
	margin-top:0px;
	margin-left:3%;
	width:50px;
	height:50px;
	float:left;
}
.d1{
	margin-left:93%;
	width:50px;
	height:50px;
}

.d2{
	background-color:rgba(243,241,237,0.8);
	margin:auto;
}

.p1{
	margin-bottom:15px;
	color:#C4B8A1;
	font-size:26px;
	font-family:syht;
	line-height:1.5;
}
.p2{
	margin-left:5%;
	margin-right:5%;
	color:#907460;
	font-size:18px;
	font-family:syht;
	line-height:1.5;
}
.p21{
	margin-left:15%;
	margin-right:15%;
	margin-top:8%;
	color:#888373;
	font-size:18px;
	font-family:syht;
	line-height:1.5;
}
.p22{
	margin-left:7px;
	margin-right:7px;
	color:#907460;
	font-size:95%;
	font-family:syht;
	line-height:1.5;
}

table{
	background-color:rgba(243,241,237,0.8);
	margin:5% auto;
	border-radius:10px;
	width:100%;
}

.case{
	width:65%;
	colspan:2;
	padding-top:4%;
	padding-left:4%;
	padding-right:2%;
}

.pic {
	text-align:center;
       colspan:1;
	padding-top:2%;
       padding-right:4%;
	padding-bottom:2%;
}


.p3{
	color:#C4B8A1;
	font-size:13px;
	font-family:syht;
	line-height:1.5;
}

.d3{
	margin:auto;
	width:75%;
}


.d4{
	text-align:center;
	width:75%;
	margin:auto;
}

.p4{
	margin-left:15%;
	margin-right:15%;
	color:#282819;
	font-size:18px;
	text-align:left;
	font-family:syht;
	line-height:1.5;
}

.d5{
	width:75%;
	margin:auto;
}

.d6{
	background-color:rgba(255,255,255,0.3);
}

.d7{
	background-color:rgba(0,0,0,0.08);
}


.p5{
	margin-right:15%;
	margin-left:15%;
	color:#282819;
	font-size:22px;
	font-family:syht;
	line-height:1.5;
	text-align:left;
}


.xt{
	width:55%;
	height:55%;
	margin-top:25px;
	margin-left:30px;
	margin-bottom:0:
}

.p6{
	text-align:right;
	margin-top:0;
	margin-right:20px;
	color:#907460;
	font-size:13px;
	font-family:syht;
	line-height:1.5;
}

.p7{
	color:#282819;
	font-size:13px;
	text-align:right;
	font-family:syht;
	line-height:1.5;
}

.p8{
	color:#F1F3ED;
	font-family:syht;
	line-height:1.2;
	font-size:16px;
}

.p9{
	color:#282819;
	font-size:13px;
	text-align:left;
	font-family:syht;
	line-height:1.5;
	margin-left:35px;
	margin-right:35px;
}


.d8{
	background-color:rgba(0,0,0,0.33);
	margin:auto;
	padding:70px;

	text-align:center;
	color:#F1F3ED;
}
.d9{
	margin:auto;
	width:50%;
	text-align:left;
	color:#F1F3ED;
}

.d10{
	margin-top:35px;
	column-count: 3;
	column-gap: 2%;

}


.middle{
  position: absolute;  /*设置元素绝对定位*/
}

.cc{
  cursor: pointer;
  height:160px;
}

.front,.back{
  width: 30%;
  height: 30%;
  overflow: hidden; /*溢出元素修剪掉并隐藏*/
  backface-visibility: hidden; /*定义元素不面向屏幕时是否可见*/
  position: absolute;
  transition: transform .6s linear;
}


.front{
  /* 动画样式，设置镜头到元素平面的距离，变换时元素按Y轴旋转 */
  transform: perspective(600px) rotateY(0deg);
}

.back{ /*背面卡片样式*/
  transform: perspective(600px) rotateY(180deg);
}

.cc:hover > .front{ /*选定card后的所有front样式，与.card:hover .front类似但不同*/
  transform: perspective(600px) rotateY(-180deg);
}

.cc:hover > .back{ /*同上*/
  transform: perspective(600px) rotateY(0deg);
  
}

